<!DOCTYPE html>
<html lang="en">

<head>
  <title> {{ title }} </title>
  <meta charset="UTF-8">
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<body>
  <h1>Counterz</h1>
  <form id="incrementForm" action="/" method="POST">
    <div id="input_tag">
      <input type="text" id="value" name="value" value="0" readonly>
    </div>
    <button hx-post="/" hx-target="#input_tag" type="submit">Increment Value</button>
  </form>

  <span>increment with swab-oob </span>
  <div id="down">
    helloz 0
  </div>
  {% block content %}{% endblock content %}
</body>

</html>
